<h1>画像投稿フォーム</h1>
<% if @post_image.errors.any? %>
  <%= @post_image.errors.count %>件のエラーが発生しました
  <ul>
    <% @post_image.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  <%= form_with model: @post_image do |f| %>
    <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*" %>
    <h4>ショップ名</h4>
      <%= f.text_field :shop_name %>
    <h4>説明</h4>
      <%= f.text_area :caption %>
    <%= f.submit '投稿' %>
  <% end %>
  
  <%#  <%= form_with model: @post_image do |f|→フォームから送られてきたデータをデータベースに保存するためモデルと連携する必要があり、
それを記述するとこの書き方になる。このようにモデルと連携することで、データの保存が簡単に保存ができたり
後の章で紹介するバリデーションなどを簡単に設定することができる。%>

<%#f.file_fielは文字通りファイルを投稿するためのフィールド　そのため画像ファイル以外の音楽ファイルなども投稿できたりする。
今回は画像ファイルを投稿したいので後から, accept: "image/*"を記述する。%>